<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CDate</key>
		<date>2014-08-24T00:59:05Z</date>
		<key>Text</key>
		<string>Welcome : You can add notes and delete notes using the simple standard fast iPhone interface.</string>
	</dict>
	<dict>
		<key>CDate</key>
		<date>2014-08-24T01:56:43Z</date>
		<key>Text</key>
		<string>ChivialK project</string>
	</dict>
</array>
</plist>
